* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-family: "Raleway", sans-serif;
}

nav {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  color: #411d73;
  font-weight: 800;
}
nav img {
  width: 100px;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 30%;
}

/*nav ul li:hover {
  color: #ba49e8;
}*/

nav ul li a {
  text-decoration: none;
  color: #411d73;
}

nav ul li a:hover {
  color: #ba49e8;
}

.servicios {
  width: 40%;
}
.registro {
  width: 25%;
  align-items: center;
}

#reg {
  width: 20px;
  color: #ba49e8;
}

main {
  width: 100%;
  margin: 50px auto;
  position: relative;
  height: 572px;
  min-width: 790px;
  background: linear-gradient(0deg, #a79bf2, #fff);
  padding: 20px 30px 20px 20px;
  text-align: center;
}

.comentarios {
  position: absolute;
  z-index: 2;
  text-align: left;
  margin: 40px 0px 0px 40px;
}
.comentarios > ul {
  list-style-type: none;
}

.comentarios ul li h3 {
  color: #ba49e8;
  font-size: 29px;
}

.comentarios ul li p {
  font-size: 22px;
  font-weight: 700;
}

.bienvenida {
  position: absolute;
  width: 92%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: end;
  align-items: flex-end;
  text-align: right;
  margin: 40px 10px 0px 0px;
}
.bienvenida h1 {
  color: #411d73;
  font-size: 40px;
  width: 45%;
}
.bienvenida p {
  font-size: 25px;
  width: 40%;
}

.texto {
  background-color: #ba49e8;
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 5px;
  width: 35%;
  padding: 10px;
}

.imajumbo {
  position: absolute;
  z-index: 0;
  text-align: left;
  min-width: 835px;
}
#imgPrincipal {
  width: 80%;
}

article {
  margin: 100px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.ser1 {
  width: 100%;
  /*height: 150px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  padding: 5px 0px;
}
.ser1 h2 {
  align-self: baseline;
  width: 50%;
  color: #411d73;
  font-size: 35px;
  z-index: 0;
}
.ser1 p {
  align-self: flex-end;
  width: 60%;
  text-align: right;
  font-size: 25px;
  z-index: 2;
  margin-left: 20px;
  padding-left: 30px;
}

.ser2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 30px;
  margin: 50px auto;
}

.ser2 div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 25px;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 20px #411d7344;
  width: 33%;
}

.ser2 div img {
  width: 100px;
}

.ser2 div h3 {
  color: #411d73;
  font-size: 24px;
}

.ser2 div p {
  font-size: 18px;
}

.probar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  margin: 100px auto;
  height: 500px;
  min-width: 790px;
  background: linear-gradient(0deg, #a79bf2, #fff);
  padding: 20px 30px 20px 20px;
  text-align: center;
}

.probar div {
  width: 50%;
  margin: 10px 0px 0px 40px;
}

.probar div video {
  box-shadow: 1px 1px 20px #411d7348;
}
.probar div img {
  width: 40%;
}

.prueba1 {
  color: #411d73;
  font-size: 25px;
  font-weight: 900;
  text-align: right;
  align-items: top;
  padding-right: 20px;
}

.prueba1 button {
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 900;
  background-color: #ba49e8;
  border: 0px solid;
  border-radius: 15px;
  margin-top: 40px;
  width: 160px;
  color: #fff;
  cursor: pointer;
}
.prueba1 button:hover {
  background-color: #411d73;
  box-shadow: 1px 1px 20px #411d7348;
}

.Gratis form {
  width: 80%;
  height: auto;
  background-color: #8b37ae;
  border-radius: 20px;
  text-align: center;
  padding: 30px 40px;
  max-width: 760px;
}

.Gratis form input {
  width: 80%;
  padding: 10px;
  color: #411d73;
  font-size: 18px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid #a79bf2;
}

.Gratis form button {
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 900;
  background-color: #411d73;
  border: 0px solid;
  border-radius: 15px;
  margin-top: 10px;
  width: 300px;
  color: #fff;
  cursor: pointer;
}

.Gratis form button:hover {
  background-color: #aa38d8;
  box-shadow: 1px 1px 20px #411d7348;
}

.Gratis form h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  padding: 0px 20px;
}
.Gratis form p {
  color: #fff;
  font-size: 23px;
}

.Gratis form ::placeholder {
  color: rgb(167, 167, 167);
  font-size: 18px;
}

.Gratis form h3 {
  font-size: 27px;
  color: #b7aef1;
  font-weight: bolder;
}

.precios h2 {
  width: 100%;
  color: #411d73;
  font-size: 35px;
  text-align: center;
}
.precios p {
  font-size: 25px;

  margin-left: 20px;
  padding-left: 30px;
}

.planes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  padding: 10px 0px;
  margin-top: 40px;
  gap: 30px;
}

.planes div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 25px;
  align-items: center;
  text-align: left;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 20px #411d7344;
  width: 290px;
  padding-left: 40px;
}
.planes ul {
  list-style-type: circle;
  height: 370px;
}
.planes ul li {
  padding: 10px 0px;
}

.planes button {
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 900;

  border: 0px solid;
  border-radius: 15px;
  margin-top: 40px;
  width: 200px;
  color: #fff;
  cursor: pointer;
  vertical-align: bottom;
}
.planes button:hover {
  background-color: #411d73;
  box-shadow: 1px 1px 20px #411d7348;
}

.tresbasic h2 {
  color: #ba49e8;
}
.tresbasic button {
  color: #fff;
  background-color: #ba49e8;
}
.tresbasic button:hover {
  background-color: #8b37ae;
  box-shadow: 1px 1px 20px #411d7348;
}

.trespremium h2 {
  color: #6da7f2;
}
.trespremium button {
  color: #fff;
  background-color: #6da7f2;
}
.trespremium button:hover {
  background-color: #1e6bc1;
  box-shadow: 1px 1px 20px #0a36686b;
}
.seispremium h2 {
  color: #a79bf2;
}
.seispremium button {
  color: #fff;
  background-color: #a79bf2;
}
.seispremium button:hover {
  background-color: #7e72ca;
  box-shadow: 1px 1px 20px #51478f70;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 25px;
  align-items: center;
  text-align: center;

  background-color: #a79bf2;
  width: 100%;
}

.secciones {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  text-align: left;
  font-size: 18px;
  color: white;
  font-weight: 300;
  gap: 50px;
}

footer img {
  width: 300px;
}

footer ul {
  margin: 30px 0px 0px 40px;
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
}
footer ul li a:hover {
  text-decoration: none;
  color: #8b37ae;
}
.redes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  text-align: left;
  gap: 20px;
}
.redes img {
  width: 40px;
}

@media screen and (min-width: 800px) {
  .menu2 {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .menu1 {
    display: none;
  }
  .ocultar {
    /* visibility: hidden;*/
    display: none;
  }
  .menu2 {
    display: content;
  }

  nav {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: #411d73;
    font-weight: 800;
    gap: 200px;
  }
  #hamb {
    width: 25px;
    color: #ba49e8;
  }
  #reg {
    width: 25px;
    color: #ba49e8;
  }

  main {
    width: 100%;
    margin: 10px auto;
    min-width: auto;
    height: 820px;
  }

  .comentarios {
    position: absolute;
    /*  z-index: 2;*/
    text-align: left;
    margin: 0px 20px;
    width: 400px;
  }

  /*.comentarios > ul {
    margin: 0px auto;
  }*/
  .bienvenida {
    position: relative;
    width: 400px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-items: flex-end;
    text-align: right;
    margin: 10px auto;
  }
  .bienvenida h1 {
    color: #411d73;
    font-size: 40px;
    width: 100%;
  }
  .bienvenida p {
    width: 90%;
  }

  .imajumbo {
    text-align: center;
    width: 100%;
    min-width: 0px;
    /*margin: 0px auto;*/
  }
  #imgPrincipal {
    width: 450px;
    margin: 0px auto;
  }

  .texto {
    width: 50%;
  }

  .ser1 {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  .ser1 h2 {
    align-self: center;
    width: 400px;
    text-align: left;
    margin: 0px auto;
  }
  .ser1 p {
    align-self: center;
    width: 400px;
    text-align: left;
    margin: 0px auto;
    padding: 0px;
  }
  .ser2 {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0px auto;
  }
  .ser2 div {
    width: 340px;
    margin: 10px auto;
  }

  article {
    margin: 50px auto;
  }

  .probar {
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    height: auto;
    min-width: 0px;
    text-align: center;
  }

  .probar div {
    width: 400px;
    margin: 10px 0px 0px 40px;
  }

  .probar div video {
    box-shadow: 1px 1px 20px #411d7348;
  }
  .probar div img {
    width: 40%;
  }

  .planes {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .planes div {
    width: 400px;
    padding-left: 40px;
    margin: 0px auto;
  }
  .planes ul {
    height: 280px;
  }
  .secciones {
    justify-content: center;
    align-items: stretch;
    text-align: left;
    gap: 5px;
  }

  footer img {
    margin-top: 20px;
    width: 200px;
  }
}
